image:
  repository: 10.107.131.161/apps/app-demo
  tag: 24dca37f265e6cd6b85496df4df3e7c3d266982e
replicaCount: 1
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
